.content-bg {
  height: 100%;
}

.content-bg-wrapper {
  z-index: 1;
  position: relative;
}

.layers-bg {
  top: 0;
  bottom: 0;
  z-index: 0;
  left: -50%;
  right: -50%;
  opacity: 0.5;
  position: fixed;
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, var(--main-bg--color) 50%, var(--main--color) 50%);
}

.second-layer {
  animation-duration: 4s;
  animation-direction: alternate-reverse;
}

.third-layer {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
